.eachDiv {
  /* border: 1px solid black; */
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.eachDiv > div {
  /* border: 1px solid */
}

.eachDiv > div > div {
  /* border: 1px solid; */
  margin: auto;
  width: 95%;
  padding: 20px;
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.caption {
  margin: auto;
  width: 90%;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 700px) {
  .eachDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .caption {
    width: 100%;
    font-weight: 600;
    font-size: 12px;
  }
}

@media screen and (max-width: 500px) {
  .eachDiv {
    grid-template-columns: repeat(2, 1fr);
  }
  .caption {
    width: 100%;
    font-weight: 600;
    font-size: 12px;
  }
}
